# global var which will be used in other tmpl files
{{- $allNodes := lsdir "/hosts/tomcat_nodes" }}
{{- $joiningNodes := lsdir "/adding-hosts/tomcat_nodes" }}
{{- $leavingNodes := lsdir "/deleting-hosts/tomcat_nodes" }}

allNodes="$(sort -V << ALL_NODES_EOF
{{- range $instanceId := $allNodes }}
{{- if $joiningNodes | filter $instanceId }}
joining/
{{- else if $leavingNodes | filter $instanceId }}
leaving/
{{- else }}
stable/
{{- end }}
{{- getv (printf "/hosts/tomcat_nodes/%s/sid" $instanceId) }}/
{{- getv (printf "/hosts/tomcat_nodes/%s/node_id" $instanceId) }}/
{{- getv (printf "/hosts/tomcat_nodes/%s/ip" $instanceId) }}
{{- end }}
ALL_NODES_EOF
)"

flush /opt/app/current/bin/envs/node-tomcat.env << TOMCAT_ENV_EOF
SERVICES="\$SERVICES tomcat/true/{{ getv "/cluster/endpoints/http/protocol" "http" }}:{{ getv "/cluster/endpoints/http/port" "8080" }}"
NODE_CTL="tomcat"
DATA_MOUNTS=/data
IS_UPGRADING={{ exists "/upgrade-audit/from_app_version" }}
MY_IP={{ getv "/host/ip" }}
MY_SID={{ getv "/host/sid" }}
JOINING_NODES="$(echo "$allNodes" | awk -F/ '$1~/^j/ {print $2"/"$3"/"$4}' | xargs)"
LEAVING_NODES="$(echo "$allNodes" | awk -F/ '$1~/^l/ {print $2"/"$3"/"$4}' | xargs)"
STABLE_NODES="$(echo "$allNodes" | awk -F/ '$1~/^s/ {print $2"/"$3"/"$4}' | xargs)"
JAVA_VERSION={{ getv "/env/java_version" "8" }}
TOMCAT_VERSION={{ getv "/env/tomcat_version" "8" }}
TOMCAT_ENV_EOF
