defaultServerFile=/opt/tomcat/current/conf/server.xml
runtimeServerFile=/opt/app/current/conf/tomcat/server.xml
executorXmlFile=/tmp/executor.xml
flush $executorXmlFile << EXECUTOR_XML_EOF
    <Executor name="tomcatThreadPool"
        namePrefix="catalina-exec-"
        maxThreads="{{ getv "/env/threadpool_maxThreads" }}"
        minSpareThreads="{{ getv "/env/threadpool_minSpareThreads" }}"
        maxIdleTime="{{ getv "/env/threadpool_maxIdleTime" }}" />
EXECUTOR_XML_EOF
sed -e "/<Service /r $executorXmlFile" $defaultServerFile > $runtimeServerFile.swap

sed -ri 's#(<Connector port="8080" protocol="HTTP/1.1")#\1 executor="tomcatThreadPool" URIEncoding="{{ getv "/env/tomcat_encoding" }}"#' $runtimeServerFile.swap

{{- $tomcat_version := getv "/env/tomcat_version" "8" }}
clusterXmlFile=/tmp/cluster.xml
flush $clusterXmlFile << CLUSTER_XML_EOF
        <Cluster className="org.apache.catalina.ha.tcp.SimpleTcpCluster" channelSendOptions="8">
          <Channel className="org.apache.catalina.tribes.group.GroupChannel">
            <Membership className="org.apache.catalina.tribes.membership.McastService" address="228.0.0.4" port="45564" frequency="500" dropTime="3000" />
            <Receiver className="org.apache.catalina.tribes.transport.nio.NioReceiver" address="{{ getv "/host/ip" }}" port="4000" autoBind="100" selectorTimeout="5000" maxThreads="6" />
            <Sender className="org.apache.catalina.tribes.transport.ReplicationTransmitter">
              <Transport className="org.apache.catalina.tribes.transport.nio.PooledParallelSender" />
            </Sender>
            <Interceptor className="org.apache.catalina.tribes.group.interceptors.TcpFailureDetector" />
            {{- if eq $tomcat_version "7" }}
            <Interceptor className="org.apache.catalina.tribes.group.interceptors.MessageDispatch15Interceptor" />
            {{- else }}
            <Interceptor className="org.apache.catalina.tribes.group.interceptors.MessageDispatchInterceptor" />
            {{- end }}
          </Channel>
          {{- if not (exists "/links/redis_service/cluster/cluster_id") }}
          <Valve className="org.apache.catalina.ha.tcp.ReplicationValve" filter="" />
          <Valve className="org.apache.catalina.ha.session.JvmRouteBinderValve" />
          {{- if eq $tomcat_version "7" }}
          <ClusterListener className="org.apache.catalina.ha.session.JvmRouteSessionIDBinderListener" />
          {{- end }}
          <ClusterListener className="org.apache.catalina.ha.session.ClusterSessionListener" />
          {{- end }}
          <Deployer className="org.apache.catalina.ha.deploy.FarmWarDeployer" tempDir="war-temp" deployDir="webapps" watchDir="war-listen" watchEnabled="true" />
        </Cluster>
CLUSTER_XML_EOF
sed -i "/unpackWARs/r $clusterXmlFile" $runtimeServerFile.swap

mv $runtimeServerFile.swap $runtimeServerFile
