defaultUsersFile=/opt/tomcat/{{ $tomcatVersion }}/conf/tomcat-users.xml
runtimeUsersFile=/opt/app/current/conf/tomcat/tomcat-users.xml

sed '/<\/tomcat-users/d' $defaultUsersFile > $runtimeUsersFile.swap

flush >> $runtimeUsersFile.swap << TOMCAT_USERS_EOF
  {{- with getv "/env/tomcat_pwd" }}
  <role rolename="standard"/>
  <role rolename="manager-gui"/>
  <role rolename="manager-script"/>
  <role rolename="manager-jmx"/>
  <role rolename="manager-status"/>
  <user username="{{ getv "/env/tomcat_user" "qingAdmin" }}" password="{{ . }}" roles="manager-gui" />
  <user username="tomcat" password="{{ . }}" roles="standard,manager-script,manager-jmx,manager-status" />
  {{- end }}
</tomcat-users>
TOMCAT_USERS_EOF

mv $runtimeUsersFile.swap $runtimeUsersFile
