{
     "name": {{cluster.name}},
     "description": {{cluster.description}},
     "vxnet": {{cluster.vxnet}},
     "upgrade_policy": [
            "appv-gva21mw0"
        ],
     "links": {
         "redis_service": {{cluster.redis_service}},
         "mysql_service": {{cluster.mysql_service}}
     },
     "nodes": [
         {
             "role": "tomcat_nodes",
             "container": {
                 "type": "kvm",
                 "zone": "pek3a",
                 "image": "img-vjcnmj0o"
             },
             "loadbalancer": {{cluster.tomcat_nodes.loadbalancer}},
             "instance_class": {{cluster.tomcat_nodes.instance_class}},
             "count": {{cluster.tomcat_nodes.count}},
             "cpu": {{cluster.tomcat_nodes.cpu}},
             "memory": {{cluster.tomcat_nodes.memory}},
             "volume": {
                "size": {{cluster.tomcat_nodes.volume_size}},
                "mount_point": "/data",
                "mount_options": "defaults,noatime",
                "filesystem": "ext4"
            },
             "vertical_scaling_policy": "sequential",
             "services": {
             	 "init": {
             	 	"cmd": "/opt/Tomcat/scripts/init-tomcat-node.sh"
             	 },
                 "start": {
                    "cmd": "systemctl restart rsyslog;/opt/Tomcat/scripts/restart-server.sh"
                 },
                 "restart": {
                   "cmd": "/opt/apache-tomcat/bin/restart-server.sh"
                 },
                 "stop": {
                     "cmd": "/opt/apache-tomcat/bin/stop-server.sh"
                 },
                 "redeploy WAR for QingStor": {
                 	 "type": "custom",
                     "cmd": "/opt/apache-tomcat/bin/get-war.sh"
                 }
             },
            "health_check": {
                "enable": true,
                "interval_sec": 60,
                "timeout_sec": 60,
                "action_timeout_sec": 60,
                "healthy_threshold": 3,
                "unhealthy_threshold": 3,
                "check_cmd": "/opt/apache-tomcat/bin/serverStatus.sh",
                "action_cmd": "/opt/apache-tomcat/bin/recheck-health.sh"
            },
            "monitor": {
                "enable": true,
                "cmd": "/opt/apache-tomcat/bin/get-monitor.sh",
                "items": {
                    "ajp_connector": {
                        "unit": "",
                        "value_type": "str",
                        "statistics_type": "latest",
                        "scale_factor_when_display": 1
                    },
                    "ajp_currentThreadCount": {
                        "unit": "count",
                        "value_type": "int",
                        "statistics_type": "latest",
                        "scale_factor_when_display": 1
                    },
                    "ajp_currentThreadsBusy": {
                        "unit": "count",
                        "value_type": "int",
                        "statistics_type": "latest",
                        "scale_factor_when_display": 1
                    },
                    "ajp_maxTime": {
                        "unit": "ms",
                        "value_type": "int",
                        "statistics_type": "latest",
                        "scale_factor_when_display": 1
                    },
                    "ajp_requestCount": {
                        "unit": "count",
                        "value_type": "int",
                        "statistics_type": "delta",
                        "scale_factor_when_display": 1
                    },
                    "http_connector": {
                        "unit": "",
                        "value_type": "str",
                        "statistics_type": "latest",
                        "scale_factor_when_display": 1
                    },
                    "http_currentThreadCount": {
                        "unit": "count",
                        "value_type": "int",
                        "statistics_type": "latest",
                        "scale_factor_when_display": 1
                    },
                    "http_currentThreadsBusy": {
                        "unit": "count",
                        "value_type": "int",
                        "statistics_type": "latest",
                        "scale_factor_when_display": 1
                    },
                    "http_maxTime": {
                        "unit": "ms",
                        "value_type": "int",
                        "statistics_type": "latest",
                        "scale_factor_when_display": 1
                    },
                    "http_requestCount": {
                        "unit": "count",
                        "value_type": "int",
                        "statistics_type": "delta",
                        "scale_factor_when_display": 1
                    }
                },
                "groups": {
                    "connector": ["ajp_connector", "http_connector"],
                    "currentThreadCount": ["ajp_currentThreadCount", "http_currentThreadCount"],
                    "currentThreadsBusy": ["ajp_currentThreadsBusy", "http_currentThreadsBusy"],
                    "maxTime": ["ajp_maxTime", "http_maxTime"],
                    "requestCount": ["ajp_requestCount", "http_requestCount"]                    
                },
                "display": ["connector", "currentThreadCount", "currentThreadsBusy", "maxTime", "requestCount"],
                "alarm": ["ajp_currentThreadsBusy", "http_currentThreadsBusy"]
            },
             "advanced_actions": ["scale_horizontal"]
         },
         {
             "role": "log_node",
             "container": {
                 "type": "kvm",
                 "zone": "pek3a",
                 "image": "img-b5urfv9t"
             },
             "instance_class": {{cluster.log_node.instance_class}},
             "count": 1,
             "cpu": {{cluster.log_node.cpu}},
             "memory": {{cluster.log_node.memory}},
             "volume": {
                "size": {{cluster.log_node.volume_size}},
                "mount_point": "/data/TomcatLogData",
                "mount_options": "defaults,noatime",
                "filesystem": "ext4"
             },
             "services": {
             	 "init": {
             	 	"cmd": "chmod +x /opt/setup_hosts.sh;/opt/setup_hosts.sh;systemctl restart rsyslog"
             	 },
                 "start": {
                    "cmd": "systemctl start rsyslog"
                 },
                 "restart": {
                   "cmd": "systemctl restart rsyslog"
                 },
                 "stop": {
                     "cmd": "systemctl stop rsyslog"
                 }
             },
             "user_access": true
         }    
     ],
     "env": {
         "java_version": {{env.java_version}},
         "tomcat_version": {{env.tomcat_version}},
         "tomcat_user": {{env.tomcat_user}},
         "tomcat_pwd": {{env.tomcat_pwd}},
         "tomcat_encoding": {{env.tomcat_encoding}},
         "tomcat_log_level": {{env.tomcat_log_level}},
         "tomcat_log_packages": {{env.tomcat_log_packages}},
         "threadpool_maxThreads": {{env.threadpool_maxThreads}},
         "threadpool_minSpareThreads": {{env.threadpool_minSpareThreads}},
         "threadpool_maxIdleTime": {{env.threadpool_maxIdleTime}},
         "java_opts": {{env.java_opts}},
         "war_source": {{env.war_source}},
     	 "redis_db_num": {{env.redis_db_num}},
         "qingstor_access_key_id": {{env.access_key_id}},
         "qingstor_secret_access_key": {{env.secret_access_key}},
         "qingstor_zone": {{env.zone}},
         "qingstor_bucket": {{env.bucket}},
         "qingstor_war_name": {{env.war_name}},
     	 "mysql_db_name": {{env.mysql_db_name}},
         "mysql_ip_mode": "write_ip",
         "jdbc_dsname": {{env.jdbc_dsname}},
         "jdbc_maxActive": {{env.jdbc_maxActive}},
         "jdbc_maxIdle": {{env.jdbc_maxIdle}},
         "jdbc_maxWait": {{env.jdbc_maxWait}}
     },
     "endpoints": {
         "http": {
             "port": 8080,
             "protocol": "http"
         }
     }
 }
