#!/bin/bash
tomcat_war_temp="/data/war-temp"
tomcat_war_listen="/data/war-listen"
if [ ! -d $tomcat_war_temp ]
then
  mkdir $tomcat_war_temp
fi

if [ ! -d $tomcat_war_listen ]
then
  mkdir $tomcat_war_listen
fi
#export JAVA_OPTS="-Dfile.encoding=UTF-8 -Djava.security.egd=file:/dev/./urandom -Xms512m -Xmx1024m -XX:NewRatio=1 -XX:ReservedCodeCacheSize=128m"
export JAVA_OPTS="-Djavax.servlet.request.encoding=UTF-8 -Dfile.encoding=UTF-8 -Xms512m -Xmx1024m -XX:NewRatio=1 -XX:ReservedCodeCacheSize=128m"

{{$java_opts :=getv "/env/java_opts"}}
{{$tomcat_encoding :=getv "/env/tomcat_encoding"}}
{{$node_memory :=getv "/host/memory"}}
self_java_opts="{{$java_opts}}"
total_memory={{$node_memory}}
jvm_xms=$[total_memory/4]
jvm_xmx=$[total_memory/2]

if [ -n "$self_java_opts" ]
then
	export JAVA_OPTS="{{$java_opts}}"
else
    export JAVA_OPTS="-Djavax.servlet.request.encoding={{$tomcat_encoding}} -Dfile.encoding={{$tomcat_encoding}} -Xms"$jvm_xms"m -Xmx"$jvm_xmx"m -XX:NewRatio=1 -XX:ReservedCodeCacheSize=128m"
fi
